<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Our title is here!{% endblock %}</title>
    <meta name="keywords" content={% block keywords %}"设计"{% endblock %} />
    <meta name="description" content="">
    {% load staticfiles %}
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <link href="{% static "bootcss/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "bootcss/main.min.css"%}" rel="stylesheet">
    <link href="{% static "bootcss/font-awesome.min.css"%}" rel="stylesheet">
    <script src="{% static "bootcss/jquery.min.js"%}"></script>
    <script src="{% static "bootcss/bootstrap.min.js"%}"></script>
    <script src="{% static "bootcss/common.min.js"%}"></script>
</head>
<body>

{% block navi %}
{% include 'navi.html' %}
{% endblock %}
<div class="container">
{% block content %}
    Hi, this is the main content!
{% endblock %}
</div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}


</body>
</html>