<footer>
	<div class="container">
	<p class='footer-menu'>
		<a href='#sitemap'>网站地图</a>
	</p>
	<p class='cp'>&copy; 悦合同 2016 <a href='#'>www.yuehetong.com</a> <span style='display:inline-block;'> All Rights Reserved.</span>
	<span style='display:inline-block;'> <a target="_blank" href="#" rel="nofollow">粤ICP备16004471号</a></span></p>
	</div> <!-- /container -->
</footer>


<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">登录悦合同</h4>
				<p>合同从此简单</p>
			</div>

			<div class="modal-body">
				<div class="alert alert-danger alert-dismissible fade in" role="alert" id='modalLoginErr'>
					<span id='modalLoginErrCont'></span>
				</div>
				<div class='form-group'>
					<input type="text" class="form-control" id="modal-login-name" placeholder='邮箱/手机号/昵称'>
				</div>
				<div class='form-group'>
					<input type="password" class="form-control" id="modal-login-pwd" placeholder='密码'>
				</div>
			</div><!-- modal-body -->

			<div class="modal-footer">
				<a role="button" href="javascript:login();" class="btn btn-login" data-loading-text="验证中...">登录</a>
				<div class='modal-footer-tips'>
					<label style='float:left;'><input type="checkbox" id="chk-rmb" value="rmb"
					checked='checked'> 下次自动登陆</label>
					<a href='javascript:switchToModal("reg");'>没有账号？</a>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Modal -->

<!-- Modal -->
<div class="modal fade" id="modalReg" tabindex="-1" role="dialog" aria-labelledby="modalReg" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">加入悦合同</h4>
				<p>合同从此简单</p>
			</div>

			<div class="modal-body">
				<div class="alert alert-danger alert-dismissible fade in" role="alert" id='modalRegErr'>
					<span id='modalRegErrCont'></span>
				</div>

				<div class='form-group'>
					<input type="text" class="form-control" id="modal-reg-name" placeholder='邮箱或手机号'>
				</div>


				<div class='form-group' id='reg-captcha'>
					<input type="text" class="form-control" id="modal-reg-captcha" placeholder='验证码'>
					<a href='#' id='captcha-a' onclick="document.getElementById('captcha').src='/account/captcha?rnd='+Math.random();captchaPass = false;"><img src="/account/captcha?rnd=1469535521" id="captcha" /></a>
				</div>


				<div class='form-group' id='pcode-area'>
					<input type="text" class="form-control" id="modal-reg-pcode" placeholder='输入手机验证码'>
					<button onclick='javascript:sendPCode("pcode-a","modal-reg-name");return false;' role='button' class='btn' id='pcode-a' disabled='disabled' ><span id='pcode-a-cd'>60</span> 秒后可以重新发送</button>
				</div>
				<div class='form-group'>
					<input type="password" class="form-control" id="modal-reg-pwd" placeholder='密码（不少于6位）'>
				</div>

			</div><!-- modal-body -->

			<div class="modal-footer">
				<div id='reg-succ-tips'></div>
				<a role="button" href="javascript:reg();" class="btn btn-reg" data-loading-text="注册中...">注册</a>
				<div class='modal-footer-tips'>
					<a href='javascript:switchToModal("login");'>已有账号？直接登陆</a>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Modal -->
