{% extends 'base.html' %}
{% block title %}
    文献标题
{% endblock %}
{% block keywords %}
    文献
{% endblock %}
{% block content %}
    <div class="search-index">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 s-inner">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="热门搜索：股权，买卖合同，劳动合同" id='search-key'>
                <span class="input-group-btn">
                <a class="btn" id='s-i-bt' href='javascript:search();' role="button"></a>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>

    <br/>
    <p class="btn btn-default">This is the content:wenxianfanyi,haiahia</p>
    <br/>
    {% load staticfiles %}
    <img id="img" class="img-rounded" src="{% static "images/14.jpg" %}" alt="My image" style="width: 400px;height: 200px"/>
{% endblock %}

