<nav class="nav">
	<div class='container nav-top-cont'>
		<div class="navbar-header">
		  <a class="logo1" href="http://www.yuehetong.com">
			<h1>阳光</h1></a>
		  			<span class='split'>&nbsp;</span>
			<span class="logo2">从此简单</span>

		  		</div>

		<div id="navbar-menu">

			<a href='#' class='btn btn-default'>合同库</a>
			<a href='#' class='btn btn-default'>专题</a>
				  <!--<a href='#' class='btn'>研报</a>-->
		  <a href='javascript:toggleMore();' class='btn btn-default' id='top-nav-bt'><i class="fa fa-bars" aria-hidden="true"></i></a>
		  <span id='nav-login-area'>
		  <span class='split'>&nbsp;</span>
		  				<script>hasLogin = false;</script>
			  <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modalLogin">登录</a>
			  <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modalReg">注册</a>

			  		  		  </span>
		</div>
	</div>
</nav>
